
.tabContent{

  margin-top:var(--fs-spacing-8);
  margin-bottom:var(--fs-spacing-8);

  [data-fs-link] {
    @import '@faststore/ui/src/components/atoms/Link/styles.scss';
    
  }

  @import '@faststore/ui/src/components/organisms/Hero/styles.scss';
  @import '@faststore/ui/src/components/atoms/Button/styles.scss';


  [data-fs-hero] {
    --fs-hero-light-bkg-color: #FFF !important;

    [data-fs-hero-image] {
      border-radius: 40px;

      img {
        height: auto;
      }
    }
  }

  

  &__header {
    display: flex; 
    justify-content: center;
  
    border-bottom: 1px solid #D8D8D8;
    margin-bottom: var(--fs-spacing-7);
  
    [data-fs-link] {
      padding: 20px;
      margin: 0 4%;
      cursor: pointer;
      transition: all ease 0.3s;
      position: relative;
      height:58px;
    }
  
    [data-fs-link-variant='display'] {
      box-shadow: 0 4px 0 0 #FE951C;;
      cursor: default;
      pointer-events: none;
  
      @include media("<notebook") {
        box-shadow: inset 0 -4px 0 0 #FE951C;;
      }
    }
  
    @include media("<notebook") {
      justify-content: space-around;
      overflow: auto;
      white-space: nowrap;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;

    [data-fs-button-wrapper] {
      background: var(--fs-color-odp-yellow) !important;
      border-radius: 20px !important;
      color: var(--fs-color-main-1) !important;
      text-decoration: none;
    }
  
    @include media("<notebook") {
      flex-wrap: wrap;
    }
  }

}