
.SimilarProducts {
  margin: 0  auto 30px auto;
  padding: var(--fs-spacing-0);

  &__wrap {
    display: flex;
  }


  &__list {
    display: flex;
    margin-left: auto;
    @import "@faststore/ui/src/components/atoms/Link/styles.scss";

    &__item {

      width: 150px;
      margin: 10px;

      &__image {
        width: 100%;
        height: auto;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }


}

