.customHeader {
  background-color: #FFF;
  
  @import '@faststore/ui/src/components/molecules/Dropdown/styles.scss';

  [data-fs-navbar-header] {
    background-color: #FFF;
  }
}

.customHeader__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;

  [data-fs-search-input] {
    margin: 0 var(--fs-spacing-7);
    width: 100%;
  }
}

.customHeader__logo {
  width: 60px !important;
  min-width: 60px !important;
  padding: 13px 0 !important;
}

.section {
  position: sticky;
  top: 0;
  z-index: var(--fs-z-index-high);

  @import "@faststore/ui/src/components/atoms/Badge/styles.scss";
  @import "@faststore/ui/src/components/atoms/Button/styles.scss";
  @import "@faststore/ui/src/components/atoms/Icon/styles.scss";
  @import "@faststore/ui/src/components/atoms/Input/styles.scss";
  @import "@faststore/ui/src/components/atoms/Link/styles.scss";
  @import "@faststore/ui/src/components/atoms/List/styles.scss";
  @import "@faststore/ui/src/components/atoms/Logo/styles.scss";
  @import "@faststore/ui/src/components/atoms/Price/styles.scss";
  @import "@faststore/ui/src/components/molecules/LinkButton/styles.scss";
  @import "@faststore/ui/src/components/molecules/NavbarLinks/styles.scss";
  @import "@faststore/ui/src/components/molecules/ProductPrice/styles.scss";
  @import "@faststore/ui/src/components/molecules/SearchAutoComplete/styles.scss";
  @import "@faststore/ui/src/components/molecules/SearchDropdown/styles.scss";
  @import "@faststore/ui/src/components/molecules/SearchHistory/styles.scss";
  @import "@faststore/ui/src/components/molecules/SearchInputField/styles.scss";
  @import "@faststore/ui/src/components/molecules/SearchProducts/styles.scss";
  @import "@faststore/ui/src/components/molecules/SearchTop/styles.scss";
  @import "@faststore/ui/src/components/organisms/SearchInput/styles.scss";
  @import "@faststore/ui/src/components/organisms/Navbar/styles.scss";

}



.customHeader__menu__wrapper {
  border-top:1px solid #E4E4E4;
  border-bottom:1px solid #E4E4E4;
}

.customHeader__navLinks,
.customHeader__menu {

  position: initial !important;

  
  @include media("<notebook") {
    padding: var(--fs-spacing-1) var(--fs-spacing-3) !important;
  }

}

.customHeader__menu {


  --fs-navbar-links-list-padding-left-notebook:0;
  --fs-navbar-links-list-margin-left-notebook:0;

  justify-content: space-evenly;

  [data-fs-navbar-links-list-item] {
    transition: all ease 0.3s;
    
    --fs-navbar-links-link-padding-notebook:0 10px;

    @include media("<notebook") {
      border-bottom: 1px solid #bbb;
    }
  }

  > [data-fs-navbar-links-list-item] {
    width: auto;
    
    &:hover {
      text-decoration: none;
    }

    &:hover {
      box-shadow: inset 0px -4px #cecece;
    }
    &.subMenu__itemOpen {
      box-shadow: inset 0px -4px #CB542B;
    }

    > .navLink {
      cursor: pointer;

      font-weight: 500;

      --fs-navbar-links-link-padding-notebook:15px;

      svg {
        display: none;
        @include media("<notebook") {
          display: block;
        }
      }
    }

     
  }
  

  &::before {
    display: none;
  }



}

.topBar {
  background-color: var(--fs-color-main-1);
  color:#FFF;
  text-align: center;
  display: flex;


  
}

.topBar__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;


  @include media("<notebook") {
    .topBar__listLeft, 
    .topBar__listRight {
      display: none;
    }
  }
}

.topBar__list {
  display: flex;
  margin:0 auto;
  padding: var(--fs-spacing-3) 0;
  .topBar__list__item {
    padding: 0  var(--fs-spacing-4);
    font-size: var(--fs-text-size-1);

    border-right: 1px solid #FFF;

    &:last-child {
      border:none;
    }
  }
}

.navbarButtons {
  display: flex;
  align-items: center;
}

.navButtons__item {
  margin: 0 var(--fs-spacing-3);
  display: flex;
  align-items: center;
  
  [data-fs-icon] {
    color:var(--fs-color-main-6) !important;
  }

  [data-fs-badge][data-fs-badge-counter=true] [data-fs-badge-wrapper] {
    background-color: var(--fs-color-main-6);
  }

  &__text {
    margin-left: 10px;
    color:#3F3F3F;
    font-size: var(--fs-text-size-1);
    font-weight: normal;
    white-space: nowrap;
  }

  &Cart {
    width: auto !important;
    margin-right: -10px;
    
    [data-fs-button-wrapper] {
      padding: 0 10px !important;
    }
  }
}

.customHeader__regionBar {

  [data-fs-button-wrapper] > span {
    display: flex;
    align-items: center;
    color:#3F3F3F;
    font-weight: normal;
  }

  [data-fs-icon] {
    margin-right: 10px;
    min-width: 26px;
  }
}

.customHeader__search {
  
  
  [data-fs-search-input-field] [data-fs-search-input-field-input] {
    background-color: #F6F9FF;
    border-radius: 30px !important;
    border:1px solid #D3DEF1;
    color:var(--fs-color-main-6);
    font-size:var(--fs-text-size-2);
    padding-left: 40px;
    padding-right: var(--fs-input-padding);
  }

  [data-fs-search-input-field] {
    // --------------------------------------------------------
    // Design Tokens for Search Input Field
    // --------------------------------------------------------
    --fs-search-input-field-height-mobile                 :40px;
    --fs-search-input-field-height-desktop                :50px;
    --fs-search-input-field-button-min-height             :50px;
  
  }

  [data-fs-search-input-field] [data-fs-icon-button][data-fs-button-variant] {
    left: 0;
    right: initial;
    position: absolute;
    top:3px;
  }
}

.buttonMenu {
  display: none !important;
}

.navLinks__mobile {
  position: absolute !important;
  width: 100%;
  background: #FFF;
  height: calc(100vh - 100%);
}

.subMenu {
  
  padding: var(--fs-spacing-5) var(--fs-spacing-6);

  &[data-level="1"],
  &[data-level="2"] {
    min-width: 300px;
    border-radius: 0;
    margin: 0;
    position: absolute;
    overflow: visible;
    left:0;
    animation: fadeIn 0.3s ease-in-out;

  }

  &[data-level="1"] {
    top: 100%;
    left: 0;
    background-color: #FFF;
    box-shadow: none;
    
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: fixed;
      background: #000;
      z-index: -1;
      opacity: 0.7;
      margin:0;
      top:0;
      left:0;
        animation: fadeIn3 0.3s ease-in-out;
    }
  }

  &[data-level="2"] {
    left: 100%;
    top: 0;
    background-color: #E4EAF4;
    min-height: 100%;
    z-index:-1;
    animation: fadeIn2 0.3s ease-in-out;

    @include media("<notebook") {
      z-index:initial;
      animation: fadeIn 0.3s ease-in-out;
    }

    &:before {
      content: "";
      display: block;
      width: 100%;
      left: -100%;
      height: 100%;
      background: #FFF;
      z-index: 2;
      position: absolute;
      top: 0;
       animation: menuLevel2 0.5s ease;
  
    }
    
  }

  &__item__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color:var(--fs-color-main-1);
    font-size:var(--fs-text-size-base);

    font-weight: 500;

    &__close {
      margin-right: -15px;
      path {
        fill:var(--fs-color-main-1);
      }
    }

    @include media("<notebook") { 
      justify-content: left;

      h4 {
        order: 1;
      }
      &__close {
        display: block !important;
        order: 0;
        margin-right: var(--fs-spacing-3);

        svg {display: none;}
        [data-fs-button-icon]:before {
          content:"";
           background:url("../../assets/arrowLeftMenu.svg") center;
           width:10px;
           height:18px;
           display:inline-block;
       }
      }
    }
  }

  &__item {
    width: 100%;
    

    [data-fs-navbar-links-list-item] {
      padding: 0;
    }

    [data-fs-link] {
      transition: all ease 0.3s;
      &:hover {
        text-decoration: none;
      }
    }

    &[data-level="3"],
    &[data-level="2"] {

      [data-fs-link] {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100% !important;
        padding:20px 0 !important;
        border-bottom: 1px solid #BBBBBB;
        cursor: pointer;
        font-size: var(--fs-text-size-3);
        color: var(--fs-color-main-6);
        line-height: initial;
        
        transition: all ease 0.8s;

        &[data-fs-link-size="small"] {
          font-size: var(--fs-text-size-2);
        }

        &:hover {
          text-decoration: none;
          background-color: rgba(#b2bed2, 0.1) ;
        }
      }
      &:not([data-headtitle="false"]) + li:not([data-headtitle="true"]) {
        margin-top: 20px;

        @include media("<notebook") { 
          margin-top: 0px;
        }
      }
    }

    @include media("<notebook") {
      .navLink {
        width: 100%;
        display: flex;
        justify-content: space-between;
     }
    }
    
  }

}


.navLink {
  display: flex;
  align-items: center;
}


@keyframes fadeIn {
  from { left: -100%;overflow:hidden }
  to { left:0;overflow:initial }
}

@keyframes fadeIn3 {
  from { opacity: 0; }
  to { opacity:0.7; }
}

@keyframes fadeIn2 {
  from { left: -100%;overflow:hidden }
  to { left:100%;overflow:initial }
}


@keyframes menuLevel2 {
  from { top: -100%; }
  to { top:0; }
}


@include media("<notebook") {

  .buttonMenu {
    display: flex !important;
    margin-right: 0 !important;
  }

  .customHeader__wrapper {
    flex-wrap: wrap;

    [data-fs-search-dropdown] {
      width: 100%;
      left: 0;
    }
  }

  .customHeader__logo {
    margin: 0 auto 0 0;
  }
  
  .customHeader__regionBar,
  .navButtons__item__text,
  .customHeader__navLinks,
  .navButtons__item__contact {
    display: none;
  }

  .navLinks__mobile {
    .customHeader__navLinks {
      display: block;
    }
    .subMenu {
      &[data-level="1"],
      &[data-level="2"] {
        top: 0;
        width: 100%;
        height: 100%;
        left: 0;
      }
    }
  
  }
  .customHeader__search[data-fs-search-input] { 
    order: 10;
    width: 100%;
    margin: 0;
    padding: 0 0 20px 0;
  }

  .navButtons__item {
    margin: 0 var(--fs-spacing-3);
    &Cart {
      width: auto !important;
      margin: 0 var(--fs-spacing-3);
      
      [data-fs-button-wrapper] {
        padding: 0 10px !important;
      }
    }
  }
  
}